@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');
/*font-family: 'Open Sans', sans-serif;*/

.container {
	max-width: 960px;
	margin: 0 auto;

}
.main-body{
	position: relative;
	overflow: hidden;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
.main-body:after {
	content: "";
	position: absolute;

	background: #ccc;
	left: -20%;
	right: -20%;
	top: -20%;
	bottom: 143px;
	z-index: -99;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d0019+0,d90647+100 */
	background: #6d0019; /* Old browsers */
	background: -moz-linear-gradient(top,  #6d0019 0%, #d90647 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #6d0019 0%,#d90647 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #6d0019 0%,#d90647 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#d90647',GradientType=0 ); /* IE6-9 */

	transform: rotate(-8deg);
}

/*logo*/
header .container a{
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
header .container{
	margin-top: 42px;
	margin-bottom: 30px;
}
/*flex - blocks*/
.container .block1{
	display: flex;
}
.left-block{
	max-width: 60%;
	width: 50%;
}
.right-block{
	width: 50%;
	text-align: center;
}
/*text style*/
.left-block h1{
	/*font-family: font-family: 'Open Sans', sans-serif; - inherited*/
	font-size: 70px;
	font-weight: bold;
	/*color: white; -inherited*/
	letter-spacing: 4px;
	margin-bottom: 0;
}
.left-block h2{
	/*font-family: font-family: 'Open Sans', sans-serif; - inherited*/
	font-size: 24px;
	font-weight: bold;
	/*color: white; -inherited*/
	line-height: 28px;
	margin-bottom: 30px;
}
.left-block p{
	/*font-family: font-family: 'Open Sans', sans-serif; - inherited*/
	font-size: 17px;
	font-weight: 300;
	/*color: white; -inherited*/
	line-height: 24px;
    
}
.button-block a{
	display: inline-block;
	background: #fff;
	height: 50px;
	line-height: 50px;
	padding: 0 62px;
	font-family: 'Arial';
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #dd1341;
	border-radius: 25px;
}


/* popup - window */
.popup_window{
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.80);	
	font-family: 'Open Sans', sans-serif;
}
.popup_window__wrapper{
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.form-popup{
	max-width: 680px;
	width: 100%;

}
.form-popup h2{
	font-size: 72px;
	color: #fff;
	margin: 0;
	margin-bottom: 20px; 
	line-height: 100%;
	text-align: center;
}
.form-popup-wrapper{
	background: #fff;
	padding: 73px 54px;
	border-radius: 10px;
	position: relative;
}
.form-popup-wrapper label{
	color: #515151;
	font-family: 'Arial', sans-serif;
	font-size: 24px;
	font-weight: 300;
	display: block;
	margin-bottom: 10px;
}
.form-group{
	margin-bottom: 27px;
}
.form-group input[type="text"]{
	height: 60px;
	border-radius: 10px;
	border: 1px solid #c2c2c2;
	width: 100%;
	outline: none;
	padding: 0 10px;

	color: #515151;
	font-family: 'Arial', sans-serif;
	font-size: 24px;
	font-weight: 300;

	box-sizing: border-box;
}
button{
	background: #ff5858;
	width: 100%;
	height: 60px;
	border: 1px solid #c2c2c2;
	border-radius: 10px;

	color: #fff;
	font-family: 'Arial', sans-serif;
	font-size: 24px;
	margin-top: 20px;
}
a.close-button{
	display: block;
	width: 74px;
	height: 74px;
	border-radius: 100%;
	border: 1px solid #c3c3c3;
	background: url("../img/close.png");
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;

	position: absolute;
	top: -37px; 
    right: -37px;
}